.card-pizza {
  border-radius: 0.6em;
  overflow: hidden;
  max-width: 26em;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.card-pizza:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-color: #f8f9fa;
  transform: translateY(-2px);
}

.card-title {
  padding: 1em;
  border-bottom: 1px solid rgba(150, 154, 157, 0.363);
  font-weight: bolder;
}

.card-ingredients {
  padding: 1em;
  border-bottom: 1px solid rgba(150, 154, 157, 0.363);
}

.card-ingredients > h6 {
  color: gray;
  font-weight: 400;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  color: rgb(77, 77, 77);
  font-weight: 300;
  margin-top: 4px;
}

.ingredient-item {
  background: #f7f7f7;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}

.description {
  color: rgb(78, 78, 78);
  font-size: medium;
  font-weight: 400;
  margin-top: 1em;
}
