@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

#root {
  margin: 0;
  text-align: center;
  margin: 0;
  width: -webkit-fill-available;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-navbar {
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.4em;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/imgs/Header.jpg);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.header > h1 {
  font-size: xx-large;
}

.italian-font {
  font-family: "Italiana", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.div-cards {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  border: 1px solid yellow;
  margin: 2em;
  padding: 2em 1em;
}

.error {
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

.success {
  color: green;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

.cart-img {
  width: auto;
  height: 5em;
  object-fit: cover;
  object-position: center;
}

.card-pizza {
  height: auto;
  object-fit: cover;
  object-position: center;
}

.not-found {
  padding: 3em 0;
}

.not-found > h3 {
  font-size: clamp(2em, 6vw, 6em);
}

.not-found > i {
  font-size: 2em;
}

.profile-img-container {
  width: 4rem;
  height: 4rem;
  align-content: center;
}
